/* #blue {
    color: blue;
}

h1 {
    color: red;
}

.title {
    color: aqua;
}

.subtitle {
    color: red;
} */
h1.title {
    color: yellow !important;
}

/* #blue {
    color: red !important;
} */