/* h1 {
    color: #ffffff;
    background-color: rgba(255, 0, 255, 0.5);
}

@font-face {
    font-family: 'Inter';
    src: url('Inter_24pt-Thin.ttf');
}

p {
    font-family: "Inter", sans-serif;

    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    font-style: italic;
}

.line {
    text-decoration: overline double rgb(128, 128, 0);
} */